.features {
  background-color: $white;
  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 100px;
  }
  &__item {
    flex-basis: 33.33%;
    margin-bottom: 100px;
    text-align: center;
  }
  &__text {
    font-size: 1.25rem;
    text-align: center;
  }
  &__img {
    margin-bottom: 40px;
  }
}